
/* Body styling not included for module - just for development */
body {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 

}


.HivePrimary {
  font-family: 'Encode Sans Expanded', 'sans-serif';
  font-weight: bold;
  
}

.HivePrimarySemi {
  font-family: 'Encode Sans Expanded', 'sans-serif';
  font-weight: 500;
}


.HiveSecondary {
  font-family: 'Nunito Sans', 'sans-serif';
}



.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #FFC400;
}

.innerContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1.5rem;
  flex-direction: row;
  align-items: stretch;
}


.invisible {
  display: none;
}

.gridParent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3);
  align-content: space-between;
  grid-column-gap: 10px;
  width: 33.333333%;
  row-gap: 1rem;
  }

  .gridLong {
    display: flex; 
    overflow: hidden; 
    position: relative; 
    padding: 0.5rem; 
    flex-direction: column; 
    row-gap: 0.5rem; 
    border-radius: 0.5rem; 
    border-width: 1px; 
    border-color: #000000; 
    border-style: solid;
    height: 10rem; 
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    transition-duration: 500ms; 
    cursor: pointer; 
  }

  .gridShort {
    display: flex; 
    overflow: hidden; 
    position: relative; 
    padding: 0.5rem; 
    flex-direction: column; 
    row-gap: 0.5rem; 
    border-radius: 0.5rem; 
    border-width: 1px; 
    border-color: #000000; 
    border-style: solid;
    height: 13rem; 
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    transition-duration: 500ms; 
    cursor: pointer; 
  }
  
  .grid1 { 
    grid-area: 1 / 1 / 2 / 3; 
    color: white;
    background-color: #1F2830;
  }
  .grid2 { 
    grid-area: 2 / 1 / 3 / 2; 
  }
  .grid3 {
    grid-area: 2 / 2 / 3 / 3;
   }
  .grid4 {
     grid-area: 3 / 1 / 4 / 3; 
    }

    .gridLabel {
      margin: 0;
    }

    
    .arrows {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms; 
    }

    .buzzy1 {
      position: absolute; 
      right: 0; 
      bottom: 0; 
      width: 33.333333%; 
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms; 
      transition-duration: 500ms; 
    }

    .buzzy2, .buzzy3 {
      position: absolute; 
      right: 0; 
      bottom: 0; 
      width: 50%; 
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms; 
      transition-duration: 500ms; 
      
    }

    .buzzy4 {
      position: absolute; 
      right: 0; 
      bottom: 0; 
      width: 33.333333%; 
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms; 
      transition-duration: 500ms; 
      

    }


    .rightContain {
      display: flex; 
      position: relative; 
      padding: 1rem; 
      flex-direction: column; 
      gap: 1rem; 
      justify-content: space-around; 
      align-items: center; 
      border-radius: 0.5rem; 
      width: 66.666667%; 
      background-color: #ffffff; 
    }

    .rightContent {
      z-index: 10; 
      text-align: center; 
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms; 
    }

    .rightPicture {
      object-fit: contain; 
      z-index: 10; 
      border-radius: 0.5rem; 
      width: 75%; 

    }

    #serviceButton {
      background-color: #FFC400;
      z-index: 10; 
      padding-top: 1rem;
      padding-bottom: 1rem; 
      padding-left: 2.5rem;
      padding-right: 2.5rem; 
      border-radius: 1.5rem; 
      cursor: pointer;
      border-style: none;
    }
    

  #lottieContainer {
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  #serviceButton:hover {
    background-color: #1F2830;
    color: white;
  }


  /* Media Queries */


  @media (max-width: 475px) {
   #label1, #label2, #label3 , #label4 {
      font-size: 12px;
    }

    #arrow1, #arrow2, #arrow3, #arrow4 {
      width: 40px;
    }
  }

  @media (max-width: 1024px) { 

    .gridParent {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      width: 100%; 

    }


  .grid1 {
     grid-area: 1;
     height: 7rem;
    }
  .grid2 {
     grid-area: 1 ;
     height: 7rem;
     }
  .grid3 {
     grid-area: 2 ;
     height: 7rem;
    }
  .grid4 {
     grid-area: 2;
     height: 7rem;
    }

  .innerContainer {
    flex-direction: column;
    align-items: center;
  }

  .buzzy2, .buzzy3 {
    width:33.333333%;
  }

  .rightContain {
    width:100%;
  }
  

  }

  @media (min-width: 1024px) { 
    .gridLabel {
      font-size: 0.68rem;
      line-height: 1rem; 
    }
    
   }
  @media (min-width: 1280px) { 
    .gridLabel {
      font-size: 0.9rem;
      line-height: 1.5rem; 
    }

    .rightContain {
      padding: 1.5rem;
    }
    
   }

